<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # ถ้าเข้า domain.com ให้วิ่งไปที่ folder public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>